.registration-form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.registration-form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

@media screen and (min-width:701px) and (max-width:1100px){
    .registration-form {
        width: 50%;
    }

}

@media screen and (max-width: 700px) {
    .registration-form {
        width: 80%;
    }
}

.registration-input {
    border-radius: 10px;
    font-size: 17px;
    height: 30px;
    margin-bottom: 13px;
    padding-left: 5px;
}


.registration-button {
    align-self: center;
    background-color: blue;
    border-radius: 10px;
    border: 0px;
    color: white;
    cursor: pointer;
    font-size: 17px;
    height: 30px;
    width: 30%;
}

@media screen and (max-width: 800px){
    .registration-button {
        width: 100%;
    }
}

.exist {
    align-self: flex-start;
    color: red;
    font-size: 15px;
    margin-top: 0px;
}

.sign-in-text {
    color: blue;
    cursor: pointer;
}